include ../utilities/jade/settins

+document
  +page
    main.b-shopfront(role='main')
      form.b-form
        h1.b-shopfront__tagline.
          Ты сегодня покормил кота?
        .b-products.b-products_viewtype_tile
          +product_viewtype_tile()&attributes(
            {
              productId: '1',
              weight: 0.5
            }
          )
          +product_viewtype_tile()&attributes(
            {
              productId: '2',
              isSelected: true,
              flavour: 'с рыбой',
//              flavour: 'с рыбой и крабовыми палочками',
              weight: 2,
//              weight: 25.5,
              gift: '<strong>2</strong> мыши в подарок',
              shortDescription: 'Головы щучьи с чесноком да свежайшая сёмгушка.'
//              shortDescription: 'Головы щучьи с чесноком да свежайшая сёмгушка из Северных морей.'
            }
          )
          +product_viewtype_tile()&attributes(
            {
              productId:'3',
              flavour: 'с курой',
              weight: 5,
              gift: '<strong>5</strong> мышей в подарок',
              additionalDetails: [
                'заказчик доволен'
//                , 'заказчик очень доволен'
//                , 'заказчик очень очень доволен'
              ]
              ,
              shortDescription: 'Филе из цыплят с трюфелями в бульоне.',
              inStock: '0'
            }
          )
  script(src='js/jquery-1.11.2.min.js')
  script(src='js/bundle.js')