.b-products_viewtype_tile {
    reset--font();
}

@media (min-width: width--smartphone) {
    .b-products_viewtype_tile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: top;
        max-width: 100vw // fix IE wrap inside table
    }
}

.b-products_viewtype_tile .b-product {
    margin: 0 0 30px;

    undo-reset--font();
}

@media (min-width: width--smartphone) {
    .b-products_viewtype_tile .b-product {
        margin: 0 20px 25px;
    }
}

@media (min-width: 880px) {
    .b-products_viewtype_tile .b-product {
        margin: 0 40px 33px;
    }
}