.b-checkbox__shield {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background: rgba(0, 0, 0, 0);

    cursor: pointer;
}

.b-checkbox_state_disabled .b-checkbox__shield {
    display: none;
}