- fontSubset = '%D0%A2%D1%8B%20%D1%81%D0%B5%D0%B3%D0%BE%D0%B4%D0%BD%D1%8F%20%D0%BF%D0%BE%D0%BA%D0%BE%D1%80%D0%BC%D0%B8%D0%BB%20%D0%BA%D0%BE%D1%82%D0%B0%3F'

mixin document
  doctype html
  html.nojs(lang='ru')
    head
      meta(charset='utf-8')
      meta(http-equiv='x-ua-compatible' content='ie=edge')
      block title
        title Cat Food
      meta(name='description' content='')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel='icon' type='image/png' href='/favicon.png')
      link(href='http://fonts.googleapis.com/css?family=Exo+2:100&subset=cyrillic&text=' + fontSubset, rel='stylesheet')
      link(href='css/main.css', rel='stylesheet')
      script
        | document.documentElement.className = document.documentElement.className.replace('nojs','js')
    body
      block