html {
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: font-family--body;

    color: color--body;
    background: background-color--body;
}