.b-link {
    color: color--link;
    cursor: pointer;
}

.b-link:hover {
    color: color--link_state_hover;
}

.b-link:active {
    color: color--link_state_active;
}

.b-link:active:hover {
    color: color--link_state_active-hover;
}