font-size--body = 16px
line-height--body = 20px
font-family--body = 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Tahoma, Geneva, sans-serif
font--body = font-size--body\/line-height--body font-family--body

color--body = #000
background-color--body = #fff

color--meta = #666

color--control_state_normal = #1698d9
color--control_state_hover = #2ea8e6
color--control_state_active = #d91667
color--control_state_active-hover = #e62e7a
color--control_state_disabled = #b3b3b3

color--link = color--control_state_normal
color--link_state_hover = color--control_state_hover
color--link_state_active = color--control_state_active
color--link_state_active-hover = color--control_state_active-hover

color--page = #fff
background-color--page = #000

width--smartphone = 360px