@media (min-width: width--smartphone) {
    .b-button_viewtype_product-tile {
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
    }
}

.b-button_viewtype_product-tile .b-button__membrane_type_box {
    box-sizing: border-box;

    display: block;

    position: relative;

    padding: 4px;

    border-radius: 0 11px 11px 11px;
}

@media (min-width: width--smartphone) {
    .b-button_viewtype_product-tile .b-button__membrane_type_box {
        width: 100%;

        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
    }
}

.b-button_viewtype_product-tile .b-button__content {
    box-sizing: border-box;

    display: block;

    min-height: 480px - 2*4px;

    padding: 17px 44px 284px;

    border-radius: 0 8px 8px 8px;

    background: #f2f2f2;
    background linear-gradient(135deg, rgba(0,0,0,0) 30.5px, #f2f2f2 30.5px, #f2f2f2);
}

@media (min-width: width--smartphone) {
    .b-button_viewtype_product-tile .b-button__content {
        width: 100%;
    }
}

b-button_viewtype_product-tile--b-button__membrane(state = normal) {
    background: lookup('color--control_state_' + state);
}

b-button_viewtype_product-tile--b-button__membrane_type_box(state = normal) {
    background linear-gradient(135deg, rgba(0,0,0,0) 31px,
                                        lookup('color--control_state_' + state) 31px,
                                        lookup('color--control_state_' + state));
}

/*
    My apologies >
*/

.b-button_viewtype_product-tile .b-button__membrane {
    b-button_viewtype_product-tile--b-button__membrane();
}

.b-button_viewtype_product-tile .b-button__membrane_type_box {
    b-button_viewtype_product-tile--b-button__membrane_type_box();
}

.b-button_viewtype_product-tile.b-button_locked_true:hover .b-button__membrane {
    b-button_viewtype_product-tile--b-button__membrane();
}

.b-button_viewtype_product-tile.b-button_locked_true:hover .b-button__membrane_type_box {
    b-button_viewtype_product-tile--b-button__membrane_type_box();
}

.b-button_viewtype_product-tile.b-button_hover_true .b-button__membrane,
.b-button_viewtype_product-tile:hover .b-button__membrane{
    b-button_viewtype_product-tile--b-button__membrane(hover);
}

.b-button_viewtype_product-tile.b-button_hover_true .b-button__membrane_type_box,
.b-button_viewtype_product-tile:hover .b-button__membrane_type_box{
    b-button_viewtype_product-tile--b-button__membrane_type_box(hover);
}

.b-button_viewtype_product-tile.b-button_active_true .b-button__membrane,
.b-button_viewtype_product-tile:active .b-button__membrane{
    b-button_viewtype_product-tile--b-button__membrane(active);
}

.b-button_viewtype_product-tile.b-button_active_true .b-button__membrane_type_box,
.b-button_viewtype_product-tile:active .b-button__membrane_type_box {
    b-button_viewtype_product-tile--b-button__membrane_type_box(active);
}

.b-button_viewtype_product-tile.b-button_active_true:hover .b-button__membrane,
.b-button_viewtype_product-tile:active:hover .b-button__membrane {
    b-button_viewtype_product-tile--b-button__membrane(active-hover);
}

.b-button_viewtype_product-tile.b-button_active_true:hover .b-button__membrane_type_box,
.b-button_viewtype_product-tile:active:hover .b-button__membrane_type_box {
    b-button_viewtype_product-tile--b-button__membrane_type_box(active-hover);
}

.b-button_viewtype_product-tile.b-button_active_true.b-button_locked_true:hover .b-button__membrane,
.b-button_viewtype_product-tile.b-button_locked_true:active:hover .b-button__membrane {
    b-button_viewtype_product-tile--b-button__membrane(active);
}

.b-button_viewtype_product-tile.b-button_active_true.b-button_locked_true:hover .b-button__membrane_type_box,
.b-button_viewtype_product-tile.b-button_locked_true:active:hover .b-button__membrane_type_box {
    b-button_viewtype_product-tile--b-button__membrane_type_box(active);
}

.nojs .b-button_viewtype_product-tile .b-button__membrane {
    b-button_viewtype_product-tile--b-button__membrane();
}

.nojs .b-button_viewtype_product-tile .b-button__membrane_type_box {
    b-button_viewtype_product-tile--b-button__membrane_type_box();
}

.nojs .b-button_viewtype_product-tile:hover .b-button__membrane {
    b-button_viewtype_product-tile--b-button__membrane(hover);
}

.nojs .b-button_viewtype_product-tile:hover .b-button__membrane_type_box {
    b-button_viewtype_product-tile--b-button__membrane_type_box(hover);
}

.b-button_viewtype_product-tile.b-button_state_disabled:active .b-button__membrane,
.b-button_viewtype_product-tile.b-button_state_disabled:hover .b-button__membrane,
.b-button_viewtype_product-tile.b-button_state_disabled .b-button__membrane{
    b-button_viewtype_product-tile--b-button__membrane(disabled);
}

.b-button_viewtype_product-tile.b-button_state_disabled:active .b-button__membrane_type_box,
.b-button_viewtype_product-tile.b-button_state_disabled:hover .b-button__membrane_type_box,
.b-button_viewtype_product-tile.b-button_state_disabled .b-button__membrane_type_box{
    b-button_viewtype_product-tile--b-button__membrane_type_box(disabled);
}

/*
    My apologies <
*/

.b-button_viewtype_product-tile.b-button_active_true:before {
    content: attr(data-cancel-text);

    display: none;

    position: absolute;
    top: 21px;
    right: 4px;
    left: 48px; //not cool (

    padding: 0 0 .95em;

    z-index: 1;

    font-size: 16px;
    line-height: 20px;

    background: #f2f2f2;
    background: linear-gradient(to top, rgba(242,242,242,0) 0em, rgba(242,242,242,1) 1em, rgba(242,242,242,1) 100%); // fade
    color: color--control_state_active-hover;
}

.b-button_viewtype_product-tile.b-button_active_true:hover:before {
    display: block;
}

.b-button_viewtype_product-tile.b-button_active_true.b-button_locked_true:hover:before {
    display: none;
}

.nojs .b-button_viewtype_product-tile.b-button_active_true:hover:before {
    display: none;
}