.b-shopfront {
    display: table-cell;
    vertical-align: middle;
}

.b-shopfront__tagline {
    display: block;

    margin:25px 18px;

    font: 100 36px/40px 'Exo 2', font-family--body;
    text-align: center;
    text-shadow: 0 1px 1px #000;

    color: color--page;
}