.b-page {
    position: relative;

    display: table;
    border-collapse: collapse;

    height: 100%;
    width: 100%;

    background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,.5) 100%);

    vertical-align: middle;
    text-align: center;
}

.b-page:before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -1;

    background: background-color--page url('../images/b-page.png') center center;
}