.b-button {
  display: inline-block;
  cursor: pointer;
}
.b-button_locked_true {
  cursor: default;
}
.b-button_state_disabled {
  cursor: default;
}
.b-checkbox__shield {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0,0,0,0);
  cursor: pointer;
}
.b-checkbox_state_disabled .b-checkbox__shield {
  display: none;
}
.b-checkbox-area-guard {
  position: relative;
}
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Tahoma, Geneva, sans-serif;
  color: #000;
  background: #fff;
}
.b-form-field_type_checkbox {
  left: 0;
  margin-left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
}
.nojs .b-form-field_type_checkbox {
  position: absolute;
  top: -2px;
  opacity: 1;
}
.b-link {
  color: #1698d9;
  cursor: pointer;
}
.b-link:hover {
  color: #2ea8e6;
}
.b-link:active {
  color: #d91667;
}
.b-link:active:hover {
  color: #e62e7a;
}
.b-page {
  position: relative;
  display: table;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%);
  vertical-align: middle;
  text-align: center;
}
.b-page:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #000 url("../images/b-page.png") center center;
}
.b-shopfront {
  display: table-cell;
  vertical-align: middle;
}
.b-shopfront__tagline {
  display: block;
  margin: 25px 18px;
  font: 100 36px/40px 'Exo 2', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Tahoma, Geneva, sans-serif;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  color: #fff;
}
.b-link_type_pseudo {
  border-bottom: 1px dashed;
}
.b-link_type_pseudo.b-link_type_t {
  border-bottom: 0 none;
}
.b-link_type_pseudo.b-link_type_t .b-link__text {
  border-bottom: 1px dashed;
}
.b-semantic_type_text {
  display: none;
}
@media (min-width: 360px) {
  .b-button_viewtype_product-tile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.b-button_viewtype_product-tile .b-button__membrane_type_box {
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 4px;
  border-radius: 0 11px 11px 11px;
}
@media (min-width: 360px) {
  .b-button_viewtype_product-tile .b-button__membrane_type_box {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.b-button_viewtype_product-tile .b-button__content {
  box-sizing: border-box;
  display: block;
  min-height: 472px;
  padding: 17px 44px 284px;
  border-radius: 0 8px 8px 8px;
  background: #f2f2f2;
  background: linear-gradient(135deg, rgba(0,0,0,0) 30.5px, #f2f2f2 30.5px, #f2f2f2);
}
@media (min-width: 360px) {
  .b-button_viewtype_product-tile .b-button__content {
    width: 100%;
  }
}
.b-button_viewtype_product-tile .b-button__membrane {
  background: #1698d9;
}
.b-button_viewtype_product-tile .b-button__membrane_type_box {
  background: linear-gradient(135deg, rgba(0,0,0,0) 31px, #1698d9 31px, #1698d9);
}
.b-button_viewtype_product-tile.b-button_locked_true:hover .b-button__membrane {
  background: #1698d9;
}
.b-button_viewtype_product-tile.b-button_locked_true:hover .b-button__membrane_type_box {
  background: linear-gradient(135deg, rgba(0,0,0,0) 31px, #1698d9 31px, #1698d9);
}
.b-button_viewtype_product-tile.b-button_hover_true .b-button__membrane,
.b-button_viewtype_product-tile:hover .b-button__membrane {
  background: #2ea8e6;
}
.b-button_viewtype_product-tile.b-button_hover_true .b-button__membrane_type_box,
.b-button_viewtype_product-tile:hover .b-button__membrane_type_box {
  background: linear-gradient(135deg, rgba(0,0,0,0) 31px, #2ea8e6 31px, #2ea8e6);
}
.b-button_viewtype_product-tile.b-button_active_true .b-button__membrane,
.b-button_viewtype_product-tile:active .b-button__membrane {
  background: #d91667;
}
.b-button_viewtype_product-tile.b-button_active_true .b-button__membrane_type_box,
.b-button_viewtype_product-tile:active .b-button__membrane_type_box {
  background: linear-gradient(135deg, rgba(0,0,0,0) 31px, #d91667 31px, #d91667);
}
.b-button_viewtype_product-tile.b-button_active_true:hover .b-button__membrane,
.b-button_viewtype_product-tile:active:hover .b-button__membrane {
  background: #e62e7a;
}
.b-button_viewtype_product-tile.b-button_active_true:hover .b-button__membrane_type_box,
.b-button_viewtype_product-tile:active:hover .b-button__membrane_type_box {
  background: linear-gradient(135deg, rgba(0,0,0,0) 31px, #e62e7a 31px, #e62e7a);
}
.b-button_viewtype_product-tile.b-button_active_true.b-button_locked_true:hover .b-button__membrane,
.b-button_viewtype_product-tile.b-button_locked_true:active:hover .b-button__membrane {
  background: #d91667;
}
.b-button_viewtype_product-tile.b-button_active_true.b-button_locked_true:hover .b-button__membrane_type_box,
.b-button_viewtype_product-tile.b-button_locked_true:active:hover .b-button__membrane_type_box {
  background: linear-gradient(135deg, rgba(0,0,0,0) 31px, #d91667 31px, #d91667);
}
.nojs .b-button_viewtype_product-tile .b-button__membrane {
  background: #1698d9;
}
.nojs .b-button_viewtype_product-tile .b-button__membrane_type_box {
  background: linear-gradient(135deg, rgba(0,0,0,0) 31px, #1698d9 31px, #1698d9);
}
.nojs .b-button_viewtype_product-tile:hover .b-button__membrane {
  background: #2ea8e6;
}
.nojs .b-button_viewtype_product-tile:hover .b-button__membrane_type_box {
  background: linear-gradient(135deg, rgba(0,0,0,0) 31px, #2ea8e6 31px, #2ea8e6);
}
.b-button_viewtype_product-tile.b-button_state_disabled:active .b-button__membrane,
.b-button_viewtype_product-tile.b-button_state_disabled:hover .b-button__membrane,
.b-button_viewtype_product-tile.b-button_state_disabled .b-button__membrane {
  background: #b3b3b3;
}
.b-button_viewtype_product-tile.b-button_state_disabled:active .b-button__membrane_type_box,
.b-button_viewtype_product-tile.b-button_state_disabled:hover .b-button__membrane_type_box,
.b-button_viewtype_product-tile.b-button_state_disabled .b-button__membrane_type_box {
  background: linear-gradient(135deg, rgba(0,0,0,0) 31px, #b3b3b3 31px, #b3b3b3);
}
.b-button_viewtype_product-tile.b-button_active_true:before {
  content: attr(data-cancel-text);
  display: none;
  position: absolute;
  top: 21px;
  right: 4px;
  left: 48px;
  padding: 0 0 0.95em;
  z-index: 1;
  font-size: 16px;
  line-height: 20px;
  background: #f2f2f2;
  background: linear-gradient(to top, rgba(242,242,242,0) 0em, #f2f2f2 1em, #f2f2f2 100%);
  color: #e62e7a;
}
.b-button_viewtype_product-tile.b-button_active_true:hover:before {
  display: block;
}
.b-button_viewtype_product-tile.b-button_active_true.b-button_locked_true:hover:before {
  display: none;
}
.nojs .b-button_viewtype_product-tile.b-button_active_true:hover:before {
  display: none;
}
.b-list_viewtype_product-properties {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.b-list_viewtype_product-properties .b-list__item {
  margin: 0;
}
.b-product_viewtype_tile {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 320px;
  text-align: left;
}
@media (min-width: 360px) {
  .b-product_viewtype_tile {
    width: 320px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
}
.b-product_viewtype_tile .b-product__pack {
  width: 100%;
  position: relative;
}
.b-product_viewtype_tile .b-product__title {
  display: block;
  margin: 0 0 15px;
}
.b-product_viewtype_tile .b-product__title-intro {
  display: block;
  margin: 0 0 6px;
  font-size: 16px;
  line-height: 20px;
  color: #666;
}
.b-product_viewtype_tile .b-product__title-brand {
  display: block;
  margin: 0 0 0 -2px;
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
}
.b-product_viewtype_tile .b-product__title-details {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
.b-product_viewtype_tile .b-product__weight {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 15px;
  height: 81px;
  width: 81px;
  font-size: 21px;
  line-height: 81px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  -webkit-transform: scale(0.999);
          transform: scale(0.999);
  -webkit-backface-visibility: none;
          backface-visibility: none;
}
.b-product_viewtype_tile .b-product__weight-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.b-product_viewtype_tile .b-product__weight-value {
  display: block;
  font-size: 42px;
  line-height: 1;
}
.b-product_viewtype_tile .b-product__weight-value[data-weight-length='4'] {
  font-size: 33px;
}
.b-product_viewtype_tile .b-product__weight-value[data-weight-length='5'] {
  font-size: 27px;
}
.b-product_viewtype_tile .b-product__weight-value[data-weight^='1'] {
  margin-left: -2px;
}
.b-product_viewtype_tile .b-product__weight-units {
  display: block;
  margin-top: -2px;
  margin-bottom: 2px;
  border: 0;
}
.b-product_viewtype_tile .b-product__details {
  font: 14px/16px 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Tahoma, Geneva, sans-serif;
  color: #666;
}
.b-product_viewtype_tile .b-product__remark,
.b-product_viewtype_tile .b-product__short-description {
  display: block;
  margin: 13px 0 0;
  font: 13px/17px 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Tahoma, Geneva, sans-serif;
  text-shadow: 0 1px 1px #000;
  text-align: center;
  color: #fff;
}
@media (min-width: 360px) {
  .b-product_viewtype_tile .b-product__remark,
  .b-product_viewtype_tile .b-product__short-description {
    overflow: hidden;
    height: 34px;
  }
}
.b-product_viewtype_tile .b-product__short-description {
  display: none;
}
.b-product_viewtype_tile.b-product_pet_cat .b-product__content:before {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  height: 268px;
  background: url("../images/b-product_pet_cat.png") -4px 0 no-repeat;
  border-radius: 8px;
}
.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__title {
  opacity: 0.5;
  color: #b3b3b3;
}
.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__title-intro {
  color: #b3b3b3;
}
.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__details.b-list_viewtype_product-properties .b-list__item {
  opacity: 0.5;
  color: #b3b3b3;
}
.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__details.b-list_viewtype_product-properties .b-list__item.b-product__weight {
  opacity: 1;
  color: #fff;
}
.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__content:before {
  opacity: 0.5;
}
.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__remark {
  color: #ff6;
}
.b-product_viewtype_tile.b-product_selected_true .b-product__short-description {
  display: block;
}
.b-product_viewtype_tile.b-product_selected_true .b-product__remark {
  display: none;
}
.b-products_viewtype_tile {
  font: 0/0 a;
}
@media (min-width: 360px) {
  .b-products_viewtype_tile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: top;
        -ms-flex-align: top;
            align-items: top;
    max-width: 100vw;
  }
}
.b-products_viewtype_tile .b-product {
  margin: 0 0 30px;
  font: 16px/20px 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Tahoma, Geneva, sans-serif;
}
@media (min-width: 360px) {
  .b-products_viewtype_tile .b-product {
    margin: 0 20px 25px;
  }
}
@media (min-width: 880px) {
  .b-products_viewtype_tile .b-product {
    margin: 0 40px 33px;
  }
}
