.b-form-field_type_checkbox {
    left: 0;
    margin-left: 0;
    opacity: 0;
    position: fixed; //prevent scrolling
    top: 0;
}

.nojs .b-form-field_type_checkbox {
    position: absolute;
    top: -2px;
    opacity: 1;
}