.b-product_viewtype_tile {
    display: inline-block;
    vertical-align: top;

    width: 100%;
    max-width: 320px;

    text-align: left;
}

@media (min-width: width--smartphone) {
    .b-product_viewtype_tile {
        width: 320px;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

.b-product_viewtype_tile .b-product__pack {
    width: 100%;

    position: relative;
}

.b-product_viewtype_tile .b-product__title {
    display: block;

    margin:0 0 15px;
}

.b-product_viewtype_tile .b-product__title-intro {
    display: block;

    margin:0 0 6px;

    font-size: 16px;
    line-height: 20px;

    color: color--meta;
}

.b-product_viewtype_tile .b-product__title-brand {
    display: block;

    margin:0 0 0 -2px;// font-size compensation

    font-size: 48px;
    line-height: 52px;
    font-weight: bold;
}

.b-product_viewtype_tile .b-product__title-details {
    display: block;

    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.b-product_viewtype_tile .b-product__weight {
    display: block;

    position: absolute;
    right: 15px;
    bottom: 15px;

    height: 81px;
    width: 81px;

    font-size: 21px;
    line-height: 81px;

    text-align: center;

    border-radius: 50%;

    color: color--page;

    transform: scale(.999);
    backface-visibility: none;
}

.b-product_viewtype_tile .b-product__weight-text {
    display: inline-block;
    vertical-align: middle;

    line-height: 1;
}

.b-product_viewtype_tile .b-product__weight-value {
    display: block;

    font-size: 42px;
    line-height: 1;
}

.b-product_viewtype_tile .b-product__weight-value[data-weight-length='4'] {
    font-size: 33px;
}

.b-product_viewtype_tile .b-product__weight-value[data-weight-length='5'] {
    font-size: 27px;
}

.b-product_viewtype_tile .b-product__weight-value[data-weight^='1'] {
    margin-left: -2px;
}

.b-product_viewtype_tile .b-product__weight-units {
    display: block;

    margin-top: -2px;
    margin-bottom: 2px;

    border: 0; // reset system styles for abbr element
}

.b-product_viewtype_tile .b-product__details {
    font:14px/16px font-family--body;

    color: color--meta;
}

.b-product_viewtype_tile .b-product__remark {
    display: block;

    margin: 13px 0 0;

    font: 13px/17px font-family--body;
    text-shadow: 0 1px 1px #000;
    text-align: center;

    color: color--page;
}

@media (min-width: width--smartphone) {
    .b-product_viewtype_tile .b-product__remark {

        overflow: hidden;

        height: 34px;
    }
}

.b-product_viewtype_tile .b-product__short-description {
    @extend .b-product_viewtype_tile .b-product__remark;
    display: none;
}

.b-product_viewtype_tile.b-product_pet_cat .b-product__content:before {
    content: '';

    position absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;

    height: 272px - 4px;

    background: url('../images/b-product_pet_cat.png') -4px 0 no-repeat;

    border-radius: 8px;
}

.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__title {
    opacity: .5;
    color: color--control_state_disabled;
}

.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__title-intro {
    color: color--control_state_disabled;
}

.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__details.b-list_viewtype_product-properties .b-list__item {
    opacity: .5;
    color: color--control_state_disabled;
}

.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__details.b-list_viewtype_product-properties .b-list__item.b-product__weight {
    opacity: 1;
    color: #fff;
}

.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__content:before {
    opacity: .5;
}

.b-product_viewtype_tile.b-product_out-of-stock_true .b-product__remark {
    color: #ffff66;
}

.b-product_viewtype_tile.b-product_selected_true .b-product__short-description {
    display: block;
}

.b-product_viewtype_tile.b-product_selected_true .b-product__remark {
    display: none;
}