mixin product_viewtype_tile()
  //- data
  - intro   = attributes.intro   || 'Сказочное заморское яство'
  - title   = attributes.title   || 'Нямушка'
  - flavour = attributes.flavour || 'с фуа-гра'
  - shortDescription = attributes.shortDescription ||'Печень утки разварная с артишоками.'
  - weight  = attributes.weight  || 1
  - weightUnits  = attributes.weightUnits  || 'кг'
  - weightUnitsFull  = attributes.weightUnitsFull  || 'килограмм'
  - wRatio  = attributes.wRatio  || 20
  - gift    = attributes.gift    || 'мышь в подарок'
  - portion = '<strong>' + weight*wRatio + '</strong>&nbsp;порций'
  - details = attributes.details || {portion: portion, gift: gift}
  - additionalDetails = attributes.additionalDetails || []
  - cancelText   = attributes.cancelText   || 'Котэ не одобряет?'

  //- state
  - productId = 'product-field-' + attributes.productId
  - isSelected = attributes.isSelected || false
  - inStock = attributes.inStock || true

  //- effects
  - weightString = weight.toString().replace(/\./g, ',')
  - weightStringLength = weightString.length

  - buttonStateClasses = []
  - buttonStateClasses.push((inStock === '0') ? 'b-button_state_disabled' : '')
  - buttonStateClasses.push((isSelected === true) ? 'b-button_active_true' : '')

  - productStateClasses = []
  - productStateClasses.push((inStock === '0') ? 'b-product_out-of-stock_true' : 'b-product_in-stock_' + inStock)
  - productStateClasses.push((isSelected === true) ? 'b-product_selected_true' : '')

  - checkboxAttributes = {}
  - checkboxAttributes.id = productId
  - checkboxAttributes.name = productId
  - checkboxAttributes.name = productId
  - if (inStock === '0') checkboxAttributes.disabled='disabled'
  - if (isSelected === true) checkboxAttributes.checked='checked'

  .b-product.b-product_viewtype_tile.b-product_pet_cat(class= productStateClasses)
    .b-product__pack.b-button.b-button_viewtype_product-tile(class= buttonStateClasses, data-cancel-text= cancelText)
      .b-button__membrane.b-button__membrane_type_box.b-checkbox-area-guard
        .b-product__content.b-button__content
          label.b-product__checkbox.b-checkbox.b-checkbox_type_extended-area(for= productId, class= (inStock === '0') ? 'b-checkbox_state_disabled' : '')
            input.b-form-field.b-form-field_type_checkbox(type='checkbox')&attributes(checkboxAttributes)
            span.b-product__title.b-checkbox__placeholder
              span.b-product__title-intro= intro
              +space
              span.b-semantic.b-semantic_type_text &laquo;
              span.b-product__title-brand= title
              +space
              span.b-product__title-details= flavour
              span.b-semantic.b-semantic_type_text &raquo;
              span.b-checkbox__shield
          ul.b-product__details.b-list.b-list_viewtype_product-properties
            li.b-list__item.b-product__weight.b-button__membrane
              span.b-product__weight-text
                span.b-product__weight-value(data-weight= weightString, data-weight-length= weightStringLength)= weightString
                +space
                if (weightUnitsFull !== weightUnits)
                  abbr(title= weightUnitsFull).b-product__weight-units= weightUnits
                else
                  span.b-product__weight-units= weightUnits
            each val in details
              li.b-list__item!= val
            each val in additionalDetails
              li.b-list__item!= val
    if (inStock !== '0')
      p.b-product__short-description= shortDescription
      p.b-product__remark= 'Чего сидишь? Порадуй котэ, '
        a.b-link.b-link_type_t.b-link_type_pseudo.b-product__handle
          span.b-link__text купи
          |.
    else
      .b-product__remark= 'Печалька, ' + flavour + ' закончился.'