.b-link_type_pseudo {
    border-bottom: 1px dashed;
}
.b-link_type_pseudo.b-link_type_t {
    border-bottom: 0 none;
}
.b-link_type_pseudo.b-link_type_t .b-link__text {
    border-bottom: 1px dashed;
}